table
	{
		width: 100%;
	}
thead,th
	{
		background:linear-gradient(45deg,black,crimson,red);
		color: white;
		border: none;
		text-align: center;
		font-size: 20px;
		padding: 15px 0px;
		overflow: none;
	}
tr
	{
		background:linear-gradient(45deg,black,crimson,red);
	}
	td{
		color: white;
		padding: 10px 0px;
		border: 1px solid white;
		text-align: center;
	}
tbody,tr:nth-of-type(even)
{
	background:linear-gradient(45deg,blue,crimson,orange);
}
tbody tr:hover td
{
	background-color: rgba(187,197,209,0.4);
}
	
